langchain-community==0.3.19
langchain==0.3.25
langchain-openai==0.3.13
mysql-connector-python==9.2.0
python-dotenv==1.0.1
fastapi==0.115.8
datetime
unstructured
Markdown
authlib
gpt4all=2.8.2
pymongo
passlib==1.7.4
bcrypt==3.2.2
PyJWT
Authlib==1.5.2
itsdangerous==2.2.0
redis==6.0.0
aiosmtplib==4.0.1